<p>You have new message from <%= @message.name %></p>
<br>
<table>
  <thead>
    <tr>
      <th>Creator</th>
      <th>Creater Email</th>
      <th>Subject</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @message.name %></td>
      <td><%= @message.email %></td>
      <td><%= @message.subject %></td>
      <td><%= @message.message %></td>
    </tr>
  </tbody>
</table>
