<!DOCTYPE html>
<html>
  <head>
    <title>Origami Works</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'origami-swan2.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  </head>

  <body>
    <header id="header">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to image_tag('origami.png'), root_path, class: "navbar-brand" %>
            <%= link_to t("website_title"), root_path, class: "navbar-brand" %> 
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="pull-right text-right nav navbar-nav">
              <li><a href="#works"><%= t("work") %></a></li>
              <!-- <li><a href="#sp">Special Works</a></li> -->
              <li><a href="#about"><%= t("about") %></a></li>
              <li><a href="#contact"><%= t("contact") %></a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-globe" aria-hidden="true" style="font-size: large;"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "中文", :locale => 'zh-TW', class: 'dropdown-item'  %>
                  <div class="dropdown-divider"><br></div>
                  <%= link_to "English", :locale => 'en', class: 'dropdown-item' %>
                </div>
              </li>
              <li><%= link_to '', admin_root_path %></li>
              <%# if current_user %>
                <li><%= link_to('', destroy_user_session_path, method: :delete) %></li>
              <%# end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%#= render partial: "shared/flash_messages", flash: flash %>
    <%= yield %>
    <footer id="footer">
      <div class="container">
        <div class="footer-content">
          <p>&copy; 2021 HUEI YI CHENG | All Rights Reserved.</p>
          <div class="footer-social-icon">
            <a href="https://www.facebook.com/huiyi.cheng3"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://github.com/iceland101113"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/huei-yi-cheng-4070a6123/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://medium.com/@icelandcheng"><i class="fa fa-medium" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
